<div align="center">
  <h1> File Uploads</h1>
</div>
<div class="container">
  <ngui-tab selected="js" selected-index-class="selected" selected-contents-class="fadeIn animated">
    <div class="tabs">
      <div index="html">Daily Sales</div>
      <div index="Package">Package</div>
      <div index="merchantData">Merchant(Chase)</div>
      <div index="merchantMoneris">Merchant(Moneris)</div>
      <div index="IbtSales">Ibt Sales</div>
    </div>
    <div class="tab-contents">
      <div contents="html">
        <div class="container">
          <form #myForm="ngForm">
            <br>
            <h4>Daily Sales </h4>
            <div class="col-sm-10">
              <input #fileInput type="file" accept=".csv" />
              <button (click)="DailySales(); fileInput.value='';">Upload</button>
              <!-- <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
            </div>
            <br>
            <div *ngIf="success" class="alert alert-success alert-dismissable">{{success}}</div>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          </form>
        </div>
        <br>
      </div>

      <div contents="Package">
        <div class="container">
          <br>
          <h4>Package </h4>
          <div class="col-sm-10">
            <form #myForm="ngForm">
              <input #package type="file" accept=".csv" />
              <button (click)="DailySalesPackage();package.value=''">Upload</button>
            </form>
          </div>
          <br>            
          <div *ngIf="success" class="alert alert-success alert-dismissable">{{success}}</div>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>   
        </div>
      </div>
      <div contents="merchantData">
        <div class="container">
          <form #myForm="ngForm">
            <br>            
            <h4>Merchant Data </h4>
            <div class="col-sm-10">
              <input #Merchant type="file" accept=".csv" />
              <button (click)="MerchantData(); Merchant.value=''; ">Upload</button>
            </div>
          </form>
           <br>
           <div *ngIf="success" class="alert alert-success alert-dismissable">{{success}}</div>
           <div *ngIf="error" class="alert alert-danger">{{error}}</div>         
        </div>
      </div>

      <div contents="merchantMoneris">
        <div class="container">
          <form #myForm="ngForm">
            <br>
            <h4>Merchant Moneris </h4>
            <div class="col-sm-10">
              <input required="required" #Moneri type="file" accept=".csv" />
              <button (click)="MerchantMoneris(); Moneri.value='';">Upload</button>
            </div>
          </form>
          <br>
        </div>
      </div>
      <div contents="IbtSales">
        <div class="container">
          <form #myForm="ngForm">
            <br>
            <h4>Ibt Sales </h4>
            <div class="col-sm-10">
              <input required="required" #IbtSale type="file" accept=".csv" />
              <button (click)="IbtSales(); IbtSale.value='';">Upload</button>
            </div>
          </form>
          <br>
        </div>
      </div>
    </div>
  </ngui-tab>
</div>
